%p= t('menus.export_title')
#export-wrapper
  .details-text-wide
    %label.control-label= t('place')
    = select_tag 'place', options_from_collection_for_select(@menus, 'place', 'place'),
      { class: '', id: 'place', role: 'chosen-select', multiple: false, tabindex: '4', required: 'required' }
  %br
  .details-text-wide
    %label.control-label= t('from')
    %input.datepicker#from{name: 'from', type: 'text'}
  .details-text-wide
    %label.control-label= t('to')
    %input.datepicker#to{name: 'to', type: 'text'}
  .details-text-wide
    %button#export{type: 'button', class: 'btn btn-primary', disabled: 'true', data: { 'no-turbolink': 'true' }}= t('index.export')
